[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git

[submodule "src/symmetric/message_hash/src/symmetric/message_hash/BLAKE3"]
	path = src/symmetric/message_hash/src/symmetric/message_hash/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
  
[submodule "src/symmetric/message_hash/Blake/BLAKE3"]
	path = src/symmetric/message_hash/Blake/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git

[submodule "external/cryptopp"]
	path = external/cryptopp
	url = https://github.com/weidai11/cryptopp.git

[submodule "src/symmetric/message_hash/Blake"]
	path = src/symmetric/message_hash/Blake
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "src/SNARK/libiop"]
	path = src/SNARK/libiop
	url = https://github.com/scipr-lab/libiop.git
[submodule "src/symmetric/Blake"]
	path = src/symmetric/Blake
	url = https://github.com/BLAKE3-team/BLAKE3.git
