[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "src/symmetric/message_hash/src/symmetric/message_hash/BLAKE3"]
	path = src/symmetric/message_hash/src/symmetric/message_hash/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "src/symmetric/message_hash/Blake/BLAKE3"]
	path = src/symmetric/message_hash/Blake/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
